<a href="https://colab.research.google.com/github/umesh2908/Machine-learning-projects/blob/master/Delhi_SLDC_Data_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install requests

Requirement already satisfied: requests in c:\users\umesh\anaconda3\lib\site-packages (2.24.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\umesh\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\umesh\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\umesh\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\umesh\anaconda3\lib\site-packages (from requests) (2.10)

In [ ]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\umesh\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\umesh\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [ ]:
url="https://www.delhisldc.org/Loaddata.aspx?mode=01/08/2021"

In [ ]:
df=pd.read_html(url,header=0)
df

[                       An ISO 9001:2015 Organization  \
 0                  State Load Despatch Center, Delhi
 1                                                NaN
 2  01/08/2021  TIMESLOTDELHIBRPLBYPLNDPLNDMCMES  ...
 3                                                NaN
 4                   The site has been Accessed times

                      An ISO 9001:2015 Organization.1
 0                                                NaN
 1                                                NaN
 2  01/08/2021  TIMESLOTDELHIBRPLBYPLNDPLNDMCMES  ...
 3                                                NaN
 4                   The site has been Accessed times  ,
 Empty DataFrame
 Columns: [State Load Despatch Center, Delhi]
 Index: [],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES
 0      00:00  4818.90  2073.42  1123.24  1383.53  161.39  27.33
 1      00:05  4790.19  2066.91  1119.55  1362.16  164.71  27.34
 2      00:10  4770.34  2048.83  1117.51  1352.54  162.15  27.35
 3      00:15  4746.19  2036.40  1113.23  1348.53  159.96  27.39
 4      00:20  4733.47  2038.83  1114.17  1350.37  157.97  27.33
 ..       ...      ...      ...      ...      ...     ...    ...
 282    23:30  4641.70  1996.92  1048.18  1368.30  153.92  26.87
 283    23:35  4612.99  1990.63  1047.05  1359.51  153.60  26.74
 284    23:40  4624.53  1983.38  1051.05  1358.28  155.94  26.79
 285    23:45  4618.02  1984.92  1050.89  1360.98  150.65  26.60
 286    23:50  4602.62  1979.33  1041.77  1353.07  151.35  26.62

 [287 rows x 7 columns]]

In [ ]:
len(df)

3

In [ ]:
Aug1_2021=df[2]
Aug1_2021

    TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES
0      00:00  4818.90  2073.42  1123.24  1383.53  161.39  27.33
1      00:05  4790.19  2066.91  1119.55  1362.16  164.71  27.34
2      00:10  4770.34  2048.83  1117.51  1352.54  162.15  27.35
3      00:15  4746.19  2036.40  1113.23  1348.53  159.96  27.39
4      00:20  4733.47  2038.83  1114.17  1350.37  157.97  27.33
..       ...      ...      ...      ...      ...     ...    ...
282    23:30  4641.70  1996.92  1048.18  1368.30  153.92  26.87
283    23:35  4612.99  1990.63  1047.05  1359.51  153.60  26.74
284    23:40  4624.53  1983.38  1051.05  1358.28  155.94  26.79
285    23:45  4618.02  1984.92  1050.89  1360.98  150.65  26.60
286    23:50  4602.62  1979.33  1041.77  1353.07  151.35  26.62

[287 rows x 7 columns]

In [ ]:
import datetime
import re
page=['01/08/2021','02/08/2021','03/08/2021','04/08/2021','05/08/2021','06/08/2021','07/08/2021','08/08/2021','09/08/2021','10/08/2021',
     '11/08/2021','12/08/2021','13/08/2021','14/08/2021','15/08/2021','16/08/2021','17/08/2021','17/08/2021','18/08/2021',
     '19/08/2021','20/08/2021','21/08/2021','22/08/2021','23/08/2021','24/08/2021']

In [ ]:
base_url = "https://www.delhisldc.org/Loaddata.aspx?mode="
# Add 1 because Python range.
url_list = ["{}{}".format(base_url, str(page[i])) for i in range(0,25)]
s=[]
for url in url_list:
    print (url)
    s.append(url)

https://www.delhisldc.org/Loaddata.aspx?mode=01/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/08/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/08/2021

In [ ]:
Aug_2021=[]
for i in s:
    data=pd.read_html(i,header=0)
    Aug=data[2]
    Aug['date']=i[-10:]
    Aug_2021.append(Aug)

In [ ]:
Aug_2021

[    TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4818.90  2073.42  1123.24  1383.53  161.39  27.33  01/08/2021
 1      00:05  4790.19  2066.91  1119.55  1362.16  164.71  27.34  01/08/2021
 2      00:10  4770.34  2048.83  1117.51  1352.54  162.15  27.35  01/08/2021
 3      00:15  4746.19  2036.40  1113.23  1348.53  159.96  27.39  01/08/2021
 4      00:20  4733.47  2038.83  1114.17  1350.37  157.97  27.33  01/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  4641.70  1996.92  1048.18  1368.30  153.92  26.87  01/08/2021
 283    23:35  4612.99  1990.63  1047.05  1359.51  153.60  26.74  01/08/2021
 284    23:40  4624.53  1983.38  1051.05  1358.28  155.94  26.79  01/08/2021
 285    23:45  4618.02  1984.92  1050.89  1360.98  150.65  26.60  01/08/2021
 286    23:50  4602.62  1979.33  1041.77  1353.07  151.35  26.62  01/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4560.52  1967.00  1039.06  1334.37  149.63  26.39  02/08/2021
 1      00:05  4532.90  1947.90  1035.00  1327.73  153.15  26.35  02/08/2021
 2      00:10  4499.68  1933.06  1022.80  1319.69  151.44  26.18  02/08/2021
 3      00:15  4480.54  1922.36  1020.02  1309.38  151.19  26.08  02/08/2021
 4      00:20  4471.06  1925.66  1017.62  1308.37  152.12  26.08  02/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  4739.32  2040.67  1076.27  1388.52  174.38  26.80  02/08/2021
 284    23:40  4744.24  2036.20  1069.83  1393.91  172.66  26.69  02/08/2021
 285    23:45  4734.99  2031.73  1072.91  1389.45  171.02  26.75  02/08/2021
 286    23:50  4702.67  2019.16  1064.87  1376.40  170.98  26.52  02/08/2021
 287    23:55  4727.41  2013.96  1077.16  1394.57  170.52  26.42  02/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4668.04  1992.51  1061.28  1372.61  171.82  26.30  03/08/2021
 1      00:05  4633.93  1983.47  1056.77  1353.68  168.83  26.23  03/08/2021
 2      00:10  4620.79  1977.19  1052.52  1350.31  170.50  25.93  03/08/2021
 3      00:15  4619.72  1978.06  1048.83  1351.41  167.18  25.94  03/08/2021
 4      00:20  4585.88  1968.02  1043.18  1340.25  167.01  26.03  03/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  5007.14  2146.18  1118.38  1494.26  171.40  28.61  03/08/2021
 284    23:40  5007.09  2158.37  1120.19  1487.81  170.63  28.64  03/08/2021
 285    23:45  5001.08  2143.90  1117.67  1492.18  171.61  28.66  03/08/2021
 286    23:50  4968.36  2121.05  1114.88  1485.18  170.67  28.57  03/08/2021
 287    23:55  4935.73  2107.10  1107.36  1476.54  170.19  28.58  03/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4919.72  2098.38  1108.42  1465.18  171.47  28.46  04/08/2021
 1      00:05  4877.05  2089.47  1088.19  1452.64  171.26  28.48  04/08/2021
 2      00:10  4863.68  2084.73  1087.58  1449.15  169.83  28.50  04/08/2021
 3      00:15  4857.90  2082.57  1088.94  1444.00  168.00  28.49  04/08/2021
 4      00:20  4813.25  2062.31  1079.81  1429.06  166.88  28.44  04/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  5174.99  2183.95  1160.42  1561.52  193.14  28.90  04/08/2021
 284    23:40  5150.85  2163.77  1158.54  1557.41  193.21  28.99  04/08/2021
 285    23:45  5151.45  2168.84  1161.10  1548.16  195.66  28.76  04/08/2021
 286    23:50  5132.91  2170.23  1161.16  1546.55  193.08  28.68  04/08/2021
 287    23:55  5123.17  2167.85  1160.28  1532.84  191.94  28.58  04/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5085.88  2131.22  1152.67  1535.24  190.10  28.43  05/08/2021
 1      00:05  5053.94  2123.55  1144.42  1518.76  190.98  28.29  05/08/2021
 2      00:10  5035.14  2104.01  1139.11  1526.84  188.89  28.07  05/08/2021
 3      00:15  5020.70  2104.96  1139.37  1511.10  190.04  28.12  05/08/2021
 4      00:20  4993.85  2088.26  1131.19  1509.67  186.66  28.01  05/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  5406.72  2428.44  1091.61  1602.98  202.68  29.62  05/08/2021
 283    23:35  5383.30  2346.18  1201.23  1574.31  181.62  29.42  05/08/2021
 284    23:40  5362.59  2337.36  1199.89  1562.15  182.91  29.36  05/08/2021
 285    23:45  5338.63  2319.97  1201.29  1559.62  179.32  29.21  05/08/2021
 286    23:50  5286.01  2299.05  1190.04  1538.44  179.14  29.16  05/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5235.78  2258.07  1186.61  1532.31  178.76  29.03  06/08/2021
 1      00:05  5197.01  2253.24  1167.64  1513.37  176.26  28.65  06/08/2021
 2      00:10  5161.62  2236.41  1166.76  1505.26  175.13  28.58  06/08/2021
 3      00:15  5155.45  2232.18  1159.85  1511.89  173.85  28.42  06/08/2021
 4      00:20  5138.32  2224.07  1156.62  1506.15  174.43  28.30  06/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 167    13:55  5401.33  2225.16  1206.20  1606.71  275.28  38.35  06/08/2021
 168    14:00  5478.02  2242.68  1218.33  1645.21  279.76  38.33  06/08/2021
 169    14:05  5484.50  2265.66  1211.98  1636.72  278.60  38.36  06/08/2021
 170    14:10  5475.44  2259.16  1204.32  1639.57  282.68  38.45  06/08/2021
 171    14:15  5515.32  2290.42  1215.56  1639.57  271.38  38.26  06/08/2021

 [172 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5525.43  2389.75  1253.38  1614.81  183.51  30.17  07/08/2021
 1      00:05  5485.92  2370.98  1251.47  1594.86  182.26  30.03  07/08/2021
 2      00:10  5453.43  2341.24  1246.48  1595.17  181.90  29.99  07/08/2021
 3      00:15  5447.17  2336.38  1245.27  1597.90  184.03  29.92  07/08/2021
 4      00:20  5397.60  2314.03  1241.52  1578.14  182.89  29.84  07/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 281    23:25  5149.46  2281.99  1151.70  1448.75  185.47  29.08  07/08/2021
 282    23:30  5138.86  2281.52  1159.74  1433.76  185.29  29.19  07/08/2021
 283    23:35  5143.87  2275.25  1168.84  1436.78  184.56  28.88  07/08/2021
 284    23:40  5113.91  2270.37  1161.98  1436.79  184.87  28.83  07/08/2021
 285    23:45  5117.32  2271.23  1156.78  1441.13  184.91  28.74  07/08/2021

 [286 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5059.44  2245.95  1150.25  1416.53  183.46  28.59  08/08/2021
 1      00:05  5039.55  2216.56  1147.53  1415.17  183.55  28.49  08/08/2021
 2      00:10  5002.01  2215.03  1140.82  1406.21  180.94  28.65  08/08/2021
 3      00:15  4979.63  2203.87  1142.34  1391.02  181.35  28.42  08/08/2021
 4      00:20  4964.65  2186.88  1132.14  1389.27  180.79  28.42  08/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 281    23:25  4540.14  1958.22  1028.17  1308.91  173.79  26.32  08/08/2021
 282    23:30  4539.77  1956.61  1030.72  1309.60  173.94  26.19  08/08/2021
 283    23:35  4518.82  1955.50  1028.98  1297.31  173.55  26.25  08/08/2021
 284    23:40  4527.17  1955.23  1023.81  1305.86  173.24  26.14  08/08/2021
 285    23:45  4502.72  1937.97  1023.90  1300.20  172.99  25.99  08/08/2021

 [286 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4463.54  1922.19  1014.25  1285.87  172.53  25.98  09/08/2021
 1      00:05  4433.74  1911.68  1011.50  1271.87  171.03  25.88  09/08/2021
 2      00:10  4436.60  1905.07  1015.90  1276.21  172.50  25.61  09/08/2021
 3      00:15  4415.90  1898.27  1004.90  1274.68  171.53  25.53  09/08/2021
 4      00:20  4390.08  1876.39  1007.55  1267.21  171.23  25.73  09/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  4905.24  2123.15  1064.74  1469.78  179.89  27.19  09/08/2021
 283    23:35  4901.07  2103.83  1066.82  1478.91  179.53  27.24  09/08/2021
 284    23:40  4883.82  2100.25  1067.03  1463.46  179.64  27.08  09/08/2021
 285    23:45  4855.13  2092.92  1059.05  1454.05  177.23  27.02  09/08/2021
 286    23:50  4822.39  2075.52  1059.88  1437.11  176.42  26.97  09/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  4781.55  2047.62  1050.30  1434.40  177.10  26.72  10/08/2021
 1      00:05  4743.90  2035.48  1049.67  1412.45  175.34  26.50  10/08/2021
 2      00:10  4740.77  2033.95  1038.95  1422.37  174.45  26.48  10/08/2021
 3      00:15  4717.68  2016.80  1043.23  1411.60  174.78  26.47  10/08/2021
 4      00:20  4693.22  1999.77  1044.08  1403.14  174.87  26.54  10/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  5443.14  2317.15  1235.37  1621.65  188.66  30.56  10/08/2021
 284    23:40  5421.43  2327.95  1229.95  1612.36  186.61  30.35  10/08/2021
 285    23:45  5422.95  2313.40  1223.76  1615.24  187.37  30.12  10/08/2021
 286    23:50  5386.49  2287.05  1223.45  1594.75  186.45  30.17  10/08/2021
 287    23:55  5352.89  2273.32  1218.23  1595.54  183.99  30.06  10/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5319.44  2272.57  1210.99  1572.51  183.80  29.93  11/08/2021
 1      00:05  5278.05  2249.58  1198.34  1565.16  182.95  29.76  11/08/2021
 2      00:10  5234.49  2230.19  1187.36  1555.12  182.39  29.61  11/08/2021
 3      00:15  5216.21  2217.85  1183.19  1555.97  180.15  29.54  11/08/2021
 4      00:20  5191.49  2214.94  1174.02  1546.12  177.52  29.47  11/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  5674.60  2409.69  1298.27  1694.98  182.32  30.84  11/08/2021
 284    23:40  5619.69  2379.50  1291.51  1677.49  182.86  30.79  11/08/2021
 285    23:45  5630.82  2390.43  1284.11  1680.52  183.05  30.54  11/08/2021
 286    23:50  5573.24  2368.35  1284.47  1654.09  181.13  30.39  11/08/2021
 287    23:55  5548.16  2347.74  1273.85  1665.31  180.54  30.32  11/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5510.37  2351.68  1258.06  1641.47  180.43  30.16  12/08/2021
 1      00:05  5470.89  2318.45  1260.47  1630.93  179.03  30.10  12/08/2021
 2      00:10  5444.85  2320.24  1242.87  1623.69  176.23  30.14  12/08/2021
 3      00:15  5416.77  2301.33  1239.56  1618.20  176.23  30.03  12/08/2021
 4      00:20  5405.57  2295.84  1238.74  1611.45  178.27  29.96  12/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 279    23:15  5910.81  2586.50  1307.83  1739.07  189.11  32.45  12/08/2021
 280    23:20  5922.93  2594.37  1317.88  1726.90  191.01  32.32  12/08/2021
 281    23:25  5909.40  2575.41  1313.79  1739.35  191.22  31.99  12/08/2021
 282    23:30  5888.18  2569.83  1310.52  1728.16  189.06  32.04  12/08/2021
 283    23:35  5864.27  2562.04  1310.72  1722.97  187.11  32.01  12/08/2021

 [284 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5727.75  2479.16  1290.65  1685.36  185.93  31.45  13/08/2021
 1      00:05  5676.03  2479.15  1266.90  1665.56  180.74  31.13  13/08/2021
 2      00:10  5652.17  2466.57  1261.38  1651.88  179.48  31.02  13/08/2021
 3      00:15  5625.16  2448.55  1263.93  1650.54  176.20  31.13  13/08/2021
 4      00:20  5597.52  2432.58  1258.62  1642.91  179.37  30.94  13/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  5971.42  2594.82  1349.82  1741.47  194.00  32.34  13/08/2021
 283    23:35  5953.40  2582.42  1347.93  1739.98  191.90  32.22  13/08/2021
 284    23:40  5963.42  2579.73  1359.01  1746.54  186.72  32.16  13/08/2021
 285    23:45  5926.12  2569.96  1347.88  1732.21  187.45  31.98  13/08/2021
 286    23:50  5905.85  2558.64  1338.92  1732.95  187.18  31.81  13/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5854.27  2544.02  1326.72  1710.32  187.47  31.57  14/08/2021
 1      00:05  5801.80  2513.17  1312.21  1704.33  185.15  31.40  14/08/2021
 2      00:10  5773.76  2503.84  1310.40  1695.32  181.18  31.37  14/08/2021
 3      00:15  5738.85  2501.29  1291.07  1679.63  180.80  31.24  14/08/2021
 4      00:20  5716.80  2482.45  1294.69  1677.38  178.02  30.94  14/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 281    23:25  5894.41  2591.42  1345.24  1690.00  183.15  31.85  14/08/2021
 282    23:30  5898.03  2591.04  1342.34  1688.43  189.44  31.79  14/08/2021
 283    23:35  5907.90  2590.90  1352.52  1683.68  192.51  31.82  14/08/2021
 284    23:40  5881.36  2583.23  1336.57  1681.96  192.57  31.72  14/08/2021
 285    23:45  5851.89  2562.98  1339.17  1678.41  184.19  31.50  14/08/2021

 [286 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5819.48  2549.74  1325.48  1660.66  195.37  31.37  15/08/2021
 1      00:05  5790.66  2554.08  1320.37  1658.92  184.20  31.23  15/08/2021
 2      00:10  5753.42  2521.04  1316.79  1655.94  183.38  31.07  15/08/2021
 3      00:15  5740.01  2519.52  1308.30  1648.86  179.75  30.96  15/08/2021
 4      00:20  5718.79  2514.44  1302.29  1637.63  180.48  30.80  15/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  5782.44  2611.67  1388.41  1503.49  190.04  31.78  15/08/2021
 283    23:35  5757.85  2591.49  1387.27  1501.07  188.61  31.81  15/08/2021
 284    23:40  5749.34  2591.92  1383.14  1503.53  185.46  31.71  15/08/2021
 285    23:45  5723.42  2571.22  1386.94  1495.56  184.32  31.66  15/08/2021
 286    23:50  5717.25  2577.05  1377.98  1490.67  180.59  31.53  15/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  5712.57  2589.44  1374.13  1480.38  178.73  31.21  16/08/2021
 1      00:05  5677.34  2574.37  1369.20  1467.84  179.93  31.06  16/08/2021
 2      00:10  5639.17  2552.93  1366.52  1459.00  175.50  31.05  16/08/2021
 3      00:15  5632.87  2550.09  1354.66  1464.79  179.21  30.96  16/08/2021
 4      00:20  5619.32  2542.85  1353.74  1458.97  178.50  30.81  16/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 283    23:35  6208.41  2722.75  1404.80  1808.75  182.14  32.33  16/08/2021
 284    23:40  6211.25  2724.33  1400.91  1816.87  179.37  32.19  16/08/2021
 285    23:45  6204.30  2717.67  1397.09  1819.37  179.37  32.33  16/08/2021
 286    23:50  6179.65  2710.00  1392.37  1802.92  184.18  31.95  16/08/2021
 287    23:55  6145.38  2689.51  1389.78  1798.58  177.26  31.86  16/08/2021

 [288 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  6128.79  2692.33  1378.75  1790.12  177.21  31.86  17/08/2021
 1      00:05  6092.11  2674.76  1376.14  1776.08  176.78  31.66  17/08/2021
 2      00:10  6075.15  2676.42  1364.27  1773.97  174.00  31.75  17/08/2021
 3      00:15  6007.43  2637.44  1348.90  1758.63  173.89  31.65  17/08/2021
 4      00:20  6006.91  2634.36  1358.62  1749.28  174.81  31.64  17/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  6407.04  2829.11  1461.32  1850.91  186.82  33.52  17/08/2021
 283    23:35  6431.95  2823.59  1465.23  1864.68  183.78  33.41  17/08/2021
 284    23:40  6414.35  2809.97  1464.48  1859.52  185.78  33.13  17/08/2021
 285    23:45  6378.76  2810.07  1453.73  1860.06  180.91  33.07  17/08/2021
 286    23:50  6351.69  2776.51  1451.63  1849.23  180.67  33.15  17/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  6128.79  2692.33  1378.75  1790.12  177.21  31.86  17/08/2021
 1      00:05  6092.11  2674.76  1376.14  1776.08  176.78  31.66  17/08/2021
 2      00:10  6075.15  2676.42  1364.27  1773.97  174.00  31.75  17/08/2021
 3      00:15  6007.43  2637.44  1348.90  1758.63  173.89  31.65  17/08/2021
 4      00:20  6006.91  2634.36  1358.62  1749.28  174.81  31.64  17/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  6407.04  2829.11  1461.32  1850.91  186.82  33.52  17/08/2021
 283    23:35  6431.95  2823.59  1465.23  1864.68  183.78  33.41  17/08/2021
 284    23:40  6414.35  2809.97  1464.48  1859.52  185.78  33.13  17/08/2021
 285    23:45  6378.76  2810.07  1453.73  1860.06  180.91  33.07  17/08/2021
 286    23:50  6351.69  2776.51  1451.63  1849.23  180.67  33.15  17/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  6299.09  2762.53  1433.14  1829.69  181.38  32.70  18/08/2021
 1      00:05  6270.97  2755.86  1421.63  1822.17  179.73  32.56  18/08/2021
 2      00:10  6238.81  2741.72  1414.22  1812.20  179.89  32.39  18/08/2021
 3      00:15  6207.24  2721.52  1415.61  1803.72  177.74  32.36  18/08/2021
 4      00:20  6180.49  2709.32  1406.88  1795.27  175.97  32.35  18/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  6446.77  2821.47  1478.22  1866.25  188.24  32.74  18/08/2021
 283    23:35  6422.03  2812.87  1472.72  1866.39  183.43  32.53  18/08/2021
 284    23:40  6412.04  2812.45  1464.15  1860.57  184.80  32.46  18/08/2021
 285    23:45  6410.36  2800.19  1467.27  1861.81  186.93  32.43  18/08/2021
 286    23:50  6369.52  2779.85  1461.30  1850.88  184.19  32.40  18/08/2021

 [287 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  6336.53  2775.90  1453.44  1832.37  182.94  32.11  19/08/2021
 1      00:05  6278.31  2740.84  1446.24  1820.90  178.29  32.03  19/08/2021
 2      00:10  6229.72  2712.32  1430.60  1816.60  179.12  31.86  19/08/2021
 3      00:15  6207.74  2704.50  1431.25  1806.22  174.94  32.01  19/08/2021
 4      00:20  6191.70  2701.59  1427.10  1797.75  174.62  31.80  19/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 281    23:25  6175.92  2676.98  1408.40  1822.34  179.75  32.11  19/08/2021
 282    23:30  6162.23  2673.94  1404.71  1818.92  177.14  31.88  19/08/2021
 283    23:35  6163.31  2671.46  1410.02  1813.28  177.75  32.00  19/08/2021
 284    23:40  6163.65  2698.25  1411.98  1801.64  176.98  31.95  19/08/2021
 285    23:45  6121.28  2656.37  1406.00  1808.32  178.55  31.76  19/08/2021

 [286 rows x 8 columns],
     TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
 0      00:00  6084.80  2631.40  1389.11  1794.62  175.28  31.62  20/08/2021
 1      00:05  6018.57  2609.00  1366.91  1781.44  172.68  31.49  20/08/2021
 2      00:10  5987.00  2606.69  1353.61  1769.06  170.41  31.37  20/08/2021
 3      00:15  5985.36  2595.56  1360.92  1771.79  169.02  31.40  20/08/2021
 4      00:20  5958.94  2583.62  1362.34  1760.73  170.45  31.15  20/08/2021
 ..       ...      ...      ...      ...      ...     ...    ...         ...
 282    23:30  4941.12  2130.02  1106.51  1474.11  154.96  26.29  20/08/2021
 283    23:35  4945.29  2155.31  1101.38  1469.04  155.33  26.25  20/08/2021
 284    23:40  4903.15  2128.18  1099.11  1466.92  149.58  26.21  20/08/2021
 285    23:45  4909.84  2116.17  1101.69  1462.48  156.49  26.18  20/08/2021
 286    23:50  4897.46  2114.51  1098.05  1460.82  150.85  26.01  20/08/2021

 [287 rows x 8 columns],

In [ ]:
aug=pd.concat(Aug_2021)
aug

    TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
0      00:00  4818.90  2073.42  1123.24  1383.53  161.39  27.33  01/08/2021
1      00:05  4790.19  2066.91  1119.55  1362.16  164.71  27.34  01/08/2021
2      00:10  4770.34  2048.83  1117.51  1352.54  162.15  27.35  01/08/2021
3      00:15  4746.19  2036.40  1113.23  1348.53  159.96  27.39  01/08/2021
4      00:20  4733.47  2038.83  1114.17  1350.37  157.97  27.33  01/08/2021
..       ...      ...      ...      ...      ...     ...    ...         ...
283    23:35  5689.29  2515.91  1245.12  1661.68  180.37  31.13  24/08/2021
284    23:40  5666.09  2522.89  1228.50  1647.20  183.75  31.28  24/08/2021
285    23:45  5645.61  2502.16  1229.41  1650.58  178.29  31.09  24/08/2021
286    23:50  5615.91  2480.20  1232.70  1642.07  174.44  31.13  24/08/2021
287    23:55  5603.65  2476.27  1228.40  1641.23  173.68  30.91  24/08/2021

[6755 rows x 8 columns]

In [ ]:
aug.to_excel("Aug2021.xlsx")

# July 2021 Data Scrapping

In [ ]:
page=['01/07/2021','02/07/2021','03/07/2021','04/07/2021','05/07/2021','06/07/2021','07/07/2021','08/07/2021','09/07/2021','10/07/2021',
     '11/07/2021','12/07/2021','13/07/2021','14/07/2021','15/07/2021','16/07/2021','17/07/2021','17/07/2021','18/07/2021',
     '19/07/2021','20/07/2021','21/07/2021','22/07/2021','23/07/2021','24/07/2021','25/07/2021','26/07/2021','27/07/2021','28/07/2021'
     ,'29/07/2021','30/07/2021','31/07/2021']

base_url = "https://www.delhisldc.org/Loaddata.aspx?mode="

# Add range (0,31) to iterate the date from page list.
url_list = ["{}{}".format(base_url, str(page[i])) for i in range(0,31)]
s=[]
for url in url_list:
    print (url)
    s.append(url)

July_2021=[]
for i in s:
    data=pd.read_html(i,header=0)
    Jul=data[2]
    Jul['date']=i[-10:]
    July_2021.append(Jul)

july=pd.concat(July_2021)

https://www.delhisldc.org/Loaddata.aspx?mode=01/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/07/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/07/2021

In [ ]:
july

    TIMESLOT    DELHI     BRPL     BYPL     NDPL    NDMC    MES        date
0      00:00  6672.75  2915.40  1526.76  1896.67  236.24  35.50  01/07/2021
1      00:05  6645.33  2911.06  1514.22  1885.25  234.96  35.15  01/07/2021
2      00:10  6646.75  2904.87  1518.39  1889.24  235.41  35.01  01/07/2021
3      00:15  6615.68  2889.26  1516.64  1879.30  232.08  34.91  01/07/2021
4      00:20  6575.10  2856.43  1512.55  1878.26  228.87  35.04  01/07/2021
..       ...      ...      ...      ...      ...     ...    ...         ...
283    23:35  4403.09  1842.71  1030.48  1321.11  140.19  25.69  30/07/2021
284    23:40  4413.07  1860.15  1023.06  1320.38  137.76  25.66  30/07/2021
285    23:45  4390.03  1832.17  1019.95  1334.79  139.13  25.56  30/07/2021
286    23:50  4378.43  1832.59  1018.68  1322.89  136.82  25.20  30/07/2021
287    23:55  4367.22  1825.50  1026.72  1317.41  136.82  25.12  30/07/2021

[7466 rows x 8 columns]

In [ ]:
july.to_excel("Aug2021.xlsx",
             sheet_name='July_2021')

In [ ]:
with pd.ExcelWriter('FY2021.xlsx') as writer:  
    aug.to_excel(writer, sheet_name='Aug_2021')
    july.to_excel(writer, sheet_name='July_2021')

In [ ]:
##Data Scrapper function which can be called to scrape data 

def dataScrapper(date):
    base_url = "https://www.delhisldc.org/Loaddata.aspx?mode="

    # Add range (0,number of day) to iterate the date from page list.
    url_list = ["{}{}".format(base_url, str(date[i])) for i in range(0,len(date))]
    s=[]
    for url in url_list:
        print (url)
        s.append(url)

    Month_2021=[]    ## list of daily tables
    for i in s:
        data=pd.read_html(i,header=0)
        table=data[2]
        table['date']=i[-10:]
        Month_2021.append(table)

    dataset=pd.concat(Month_2021)       ## dataframe of all daily tables
    
    return dataset

In [ ]:
June=['01/06/2021','02/06/2021','03/06/2021','04/06/2021','05/06/2021','06/06/2021','07/06/2021','08/06/2021','09/06/2021','10/06/2021',
     '11/06/2021','12/06/2021','13/06/2021','14/06/2021','15/06/2021','16/06/2021','17/06/2021','17/06/2021','18/06/2021',
     '19/06/2021','20/06/2021','21/06/2021','22/06/2021','23/06/2021','24/06/2021','25/06/2021','26/06/2021','27/06/2021','28/06/2021'
     ,'29/06/2021','30/06/2021']
June_2021=dataScrapper(June)

https://www.delhisldc.org/Loaddata.aspx?mode=01/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/06/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/06/2021

In [ ]:
May=['01/05/2021','02/05/2021','03/05/2021','04/05/2021','05/05/2021','06/05/2021','07/05/2021','08/05/2021','09/05/2021','10/05/2021',
     '11/05/2021','12/05/2021','13/05/2021','14/05/2021','15/05/2021','16/05/2021','17/05/2021','17/05/2021','18/05/2021',
     '19/05/2021','20/05/2021','21/05/2021','22/05/2021','23/05/2021','24/05/2021','25/05/2021','26/05/2021','27/05/2021','28/05/2021'
     ,'29/05/2021','30/05/2021','31/05/2021']
May_2021=dataScrapper(May)

https://www.delhisldc.org/Loaddata.aspx?mode=01/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/05/2021
https://www.delhisldc.org/Loaddata.aspx?mode=31/05/2021

In [ ]:
Apr=['01/04/2021','02/04/2021','03/04/2021','04/04/2021','05/04/2021','06/04/2021','07/04/2021','08/04/2021','09/04/2021','10/04/2021',
     '11/04/2021','12/04/2021','13/04/2021','14/04/2021','15/04/2021','16/04/2021','17/04/2021','17/04/2021','18/04/2021',
     '19/04/2021','20/04/2021','21/04/2021','22/04/2021','23/04/2021','24/04/2021','25/04/2021','26/04/2021','27/04/2021','28/04/2021'
     ,'29/04/2021','30/04/2021']
Apr_2021=dataScrapper(Apr)

https://www.delhisldc.org/Loaddata.aspx?mode=01/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/04/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/04/2021

In [ ]:
Mar=['01/03/2021','02/03/2021','03/03/2021','04/03/2021','05/03/2021','06/03/2021','07/03/2021','08/03/2021','09/03/2021','10/03/2021',
     '11/03/2021','12/03/2021','13/03/2021','14/03/2021','15/03/2021','16/03/2021','17/03/2021','17/03/2021','18/03/2021',
     '19/03/2021','20/03/2021','21/03/2021','22/03/2021','23/03/2021','24/03/2021','25/03/2021','26/03/2021','27/03/2021','28/03/2021'
     ,'29/03/2021','30/03/2021','30/03/2021']
Mar_2021=dataScrapper(Mar)

https://www.delhisldc.org/Loaddata.aspx?mode=01/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/03/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/03/2021

In [ ]:
Feb=['01/02/2021','02/02/2021','03/02/2021','04/02/2021','05/02/2021','06/02/2021','07/02/2021','08/02/2021','09/02/2021','10/02/2021',
     '11/02/2021','12/02/2021','13/02/2021','14/02/2021','15/02/2021','16/02/2021','17/02/2021','17/02/2021','18/02/2021',
     '19/02/2021','20/02/2021','21/02/2021','22/02/2021','23/02/2021','24/02/2021','25/02/2021','26/02/2021','27/02/2021','28/02/2021'
     ]
Feb_2021=dataScrapper(Feb)

https://www.delhisldc.org/Loaddata.aspx?mode=01/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/02/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/02/2021

In [ ]:
Jan=['01/01/2021','02/01/2021','03/01/2021','04/01/2021','05/01/2021','06/01/2021','07/01/2021','08/01/2021','09/01/2021','10/01/2021',
     '11/01/2021','12/01/2021','13/01/2021','14/01/2021','15/01/2021','16/01/2021','17/01/2021','17/01/2021','18/01/2021',
     '19/01/2021','20/01/2021','21/01/2021','22/01/2021','23/01/2021','24/01/2021','25/01/2021','26/01/2021','27/01/2021','28/01/2021'
     ,'29/01/2021','30/01/2021','31/01/2021']
Jan_2021=dataScrapper(Jan)

https://www.delhisldc.org/Loaddata.aspx?mode=01/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=02/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=03/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=04/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=05/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=06/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=07/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=08/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=09/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=10/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=11/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=12/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=13/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=14/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=15/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=16/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=17/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=18/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=19/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=20/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=21/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=22/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=23/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=24/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=25/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=26/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=27/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=28/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=29/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=30/01/2021
https://www.delhisldc.org/Loaddata.aspx?mode=31/01/2021

In [ ]:
frames=[Jan_2021,Feb_2021,Mar_2021,Apr_2021,May_2021,June_2021,july,aug]
FY2021_all=pd.concat(frames)

In [ ]:
Mar_2021

    TIMESLOT    DELHI     BRPL    BYPL    NDPL    NDMC    MES        date
0      00:00  1908.23   740.40  384.53  603.10  151.64  12.20  01/03/2021
1      00:05  1892.14   725.54  386.36  597.35  151.14  12.06  01/03/2021
2      00:10  1866.79   712.83  380.53  592.97  151.03  11.95  01/03/2021
3      00:15  1851.19   705.76  371.77  593.85  150.01  11.90  01/03/2021
4      00:20  1846.57   709.20  372.45  584.85  150.26  11.86  01/03/2021
..       ...      ...      ...     ...     ...     ...    ...         ...
283    23:35  2822.47  1222.96  635.51  795.72  129.13  17.08  30/03/2021
284    23:40  2816.94  1233.73  622.98  792.21  125.39  16.92  30/03/2021
285    23:45  2801.46  1199.67  628.43  801.29  128.60  16.75  30/03/2021
286    23:50  2777.63  1222.58  615.36  782.46  113.98  16.87  30/03/2021
287    23:55  2763.53  1224.17  615.94  796.46   79.96  16.79  30/03/2021

[9204 rows x 8 columns]

In [ ]:
with pd.ExcelWriter('FY2021_all_months.xlsx') as writer:  
    aug.to_excel(writer, sheet_name='Aug_2021')
    july.to_excel(writer, sheet_name='July_2021')
    June_2021.to_excel(writer, sheet_name='Jun_2021')
    May_2021.to_excel(writer, sheet_name='May_2021')
    Apr_2021.to_excel(writer, sheet_name='Apr_2021')
    Mar_2021.to_excel(writer, sheet_name='Mar_2021')
    Feb_2021.to_excel(writer, sheet_name='Feb_2021')
    Jan_2021.to_excel(writer, sheet_name='Jan_2021')
    FY2021_all.to_excel(writer, sheet_name='FY2021')

# Statistical Analysis

In [ ]:
list_stat=[]
for i in frames:
    x=i.describe()
    print(x)
    stat=pd.DataFrame(x)
    list_stat.append(stat)

             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  9216.000000  9216.000000  9216.000000  9216.000000  9216.000000
mean   3049.097504  1275.649269   626.182471   954.014601   131.342982
std     934.175445   390.698693   214.016871   300.600205    28.896589
min    1341.820000   556.150000   250.970000   359.590000    51.590000
25%    2135.285000   903.785000   420.377500   657.975000   109.060000
50%    3273.900000  1356.905000   675.525000   995.940000   128.040000
75%    3695.477500  1545.225000   778.275000  1176.960000   152.485000
max    4981.930000  2063.070000  1114.900000  1590.720000   216.510000

               MES
count  9216.000000
mean     32.964575
std       7.756832
min      16.790000
25%      25.657500
50%      33.550000
75%      39.140000
max      50.990000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  8352.000000  8352.000000  8352.000000  8352.000000  8352.000000
mean   2671.662675  1062.912246   555.946731   883.056857   122.753362
std     763.302371   317.225270   174.082218   255.690079    33.383061
min    1374.720000   465.630000   244.930000   415.520000    -2.060000
25%    1938.175000   772.282500   390.120000   634.237500   104.525000
50%    2826.365000  1105.120000   594.110000   916.270000   128.785000
75%    3226.927500  1281.400000   687.605000  1076.825000   146.882500
max    4422.840000  1892.310000   959.820000  1478.950000   227.400000

               MES
count  8352.000000
mean     21.211026
std       6.916909
min      11.170000
25%      16.000000
50%      20.050000
75%      25.490000
max      46.480000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  9204.000000  9204.000000  9204.000000  9204.000000  9204.000000
mean   2800.480858  1143.208259   603.968655   899.727513   109.160654
std     516.445136   204.576558   118.092160   186.420344    28.364483
min    1601.490000   605.980000   312.920000   481.660000    50.180000
25%    2341.915000   986.647500   506.752500   734.442500    87.520000
50%    2900.850000  1197.940000   632.905000   916.395000   104.745000
75%    3233.817500  1310.085000   700.275000  1054.860000   129.040000
max    3678.500000  1496.000000   832.470000  1312.430000   208.210000

               MES
count  9204.000000
mean     17.853887
std       3.580185
min       1.000000
25%      14.780000
50%      18.070000
75%      20.470000
max      27.150000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  8856.000000  8856.000000  8856.000000  8856.000000  8856.000000
mean   3087.451095  1292.593245   686.010862   933.622023   123.030906
std     458.859908   171.161342   100.966034   184.068326    33.112416
min    2241.300000   924.980000   361.350000   610.240000     0.000000
25%    2710.627500  1156.222500   612.600000   785.372500   103.777500
50%    3035.325000  1288.015000   682.055000   898.785000   116.940000
75%    3408.392500  1422.470000   755.412500  1061.522500   140.805000
max    4347.830000  1821.730000   978.140000  1418.980000   225.380000

               MES
count  8856.000000
mean     21.093277
std       3.455537
min      10.760000
25%      18.297500
50%      20.690000
75%      23.622500
max      29.620000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  9216.000000  9216.000000  9216.000000  9216.000000  9216.000000
mean   3129.928321  1382.990798   695.322842   876.169349   121.211428
std     503.039640   243.533661   115.709110   135.834528    21.699808
min    1822.530000   803.050000   339.780000   515.540000    79.380000
25%    2802.207500  1224.422500   622.067500   784.100000   106.967500
50%    3085.205000  1358.190000   684.495000   863.895000   117.265000
75%    3428.882500  1532.890000   764.847500   952.512500   131.600000
max    4955.300000  2208.520000  1132.300000  1399.230000   211.530000

               MES
count  9216.000000
mean     24.476534
std       3.707530
min      12.600000
25%      22.230000
50%      24.250000
75%      26.690000
max      35.170000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  8532.000000  8532.000000  8532.000000  8532.000000  8532.000000
mean   4529.192189  1939.465604  1013.020522  1304.583823   198.249521
std     837.747220   365.408723   181.795351   249.204813    58.331342
min    2659.170000  1119.400000   537.420000   634.430000    94.640000
25%    3906.855000  1671.055000   886.730000  1113.012500   157.402500
50%    4517.375000  1927.150000  1012.455000  1293.885000   186.325000
75%    5104.377500  2185.985000  1134.110000  1475.025000   232.170000
max    6904.550000  4415.600000  2270.260000  3693.780000   357.590000

               MES
count  8532.000000
mean     31.433964
std       5.620785
min      16.980000
25%      27.227500
50%      30.290000
75%      35.812500
max      45.690000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  7466.000000  7466.000000  7466.000000  7466.000000  7466.000000
mean   5080.282675  2172.431006  1148.182044  1473.968560   204.674408
std     796.517875   368.840810   178.372399   226.227487    53.430103
min    3350.850000  1333.300000   747.720000   964.160000   116.910000
25%    4469.272500  1883.562500  1010.572500  1301.845000   162.427500
50%    5024.755000  2132.540000  1127.610000  1467.500000   191.125000
75%    5638.260000  2438.867500  1275.875000  1632.295000   239.525000
max    7292.330000  3162.150000  1644.620000  2134.380000   370.300000

               MES
count  7466.000000
mean     32.195588
std       5.119426
min      14.240000
25%      28.470000
50%      31.490000
75%      34.860000
max      46.310000
             DELHI         BRPL         BYPL         NDPL         NDMC  \
count  6755.000000  6755.000000  6755.000000  6755.000000  6755.000000
mean   4790.070894  2024.140853  1064.229587  1418.869895   207.278564
std     705.801771   305.174777   154.403437   220.632155    60.352045
min    3340.330000  1379.570000   741.580000   897.900000   114.830000
25%    4204.760000  1792.085000   945.130000  1244.280000   159.940000
50%    4766.230000  1988.720000  1051.670000  1421.410000   186.660000
75%    5282.595000  2230.190000  1164.110000  1583.520000   248.410000
max    6532.400000  2886.870000  1488.250000  1928.360000   373.140000

               MES
count  6755.000000
mean     30.850130
std       5.074672
min       9.700000
25%      27.000000
50%      30.070000
75%      34.390000
max      45.180000

In [ ]:
stat_df=pd.concat(list_stat)
stat_df
stat_df.to_excel("statistical analysis.xlsx")